/* Create CSS variables at the root of the document to be used throughout the style sheet */
:root {
    --main: rgb(204, 146, 231);
    --sub: #8740e4;
    --detail: #f8b12d;
    /* You can use it with any value that is repeated throughout the sheet */
    --border-radius: 50px;
  }
  
  body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--main);
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  header {
    padding: 40px;
    text-align: center;
    /* Refer to CSS values by the name of the custom property we assigned it */
    background: var(--sub);
    color: var(--main);
  }

  .content header {
    padding: 10px;
    text-align: left;
    /* Refer to CSS values by the name of the custom property we assigned it */
    background: var(--main);
    color: var(--detail);
    font-size: 150%;
  }

  p {
      background-color: var(--main);
      color: var(--sub);
      text-align: left;
  }
  nav {
    display: flex;
    background-color: var(--detail);
    justify-content: space-evenly;
  }
  
  nav a {
    color: var(--sub);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  nav a:hover {
    background-color: var(--main);
    color: var(--detail);
  }
  

  
  footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: var(--sub);
    color: var(--main);
    margin-top: auto;
  }
  
  .content {
      flex: 1;
      background-color: var(--main);
      padding: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      flex-direction: column;
  }
  

  
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
  